@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans&display=swap');
html{
	height: 100%;
	width: 100%;
}

body{
	font-family: 'Bree Serif', serif;
	background: linear-gradient(to bottom,#5569e0, #ced4f6);
}

.margin0{
	margin: 0!important;
}

.padding0{
	padding: 0!important;
}

.inline{
	display: inline-block;
}

.pt-10p{
	padding: 10% 0;
}

.jumbotron{
	background: transparent;
}

.headingColor{
	color: #fff;
}

.questionColor{
	color: #8F94B5
}

.qna{
	background: #fff;
	height: auto;
	width: 100%;
	border-radius: 15px;
	padding: 2em 1.5em;
	box-shadow: 0 4px 8px rgba(59,64,69,0.2) !important;
	font-family: 'Open Sans', sans-serif;
}

.tags ul{
	margin-bottom: 20px!important;
}

.tags ul li{
	text-decoration: none;
	display: inline;
	margin: 6px;
}

.floatRight{
	float: right;
}
.answers{
	overflow: scroll;
}

.answers ul li{
	list-style: none;
	margin-bottom: 10px;
}

.true{
	background: #007e70;
	color: #fff;
	height:auto;
	padding:10px;
	width: auto;
	border:0;
}

.false{
	background: #8e44ad!important;
}

.votes {
	margin-left: 30px;
	color: #333!important;
}

